#inchat_main {
	width: 300px;
}
#inchat_msg_table {
	height: 200px;
	overflow: auto;
	margin-left: 3px;
}

#inchat_msg_table p {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

#inchat_title {
	margin: 10px 8px 3px 8px;
	text-align: center;
	border-bottom: 1px solid #BDBDBD;
}
#inchat_input_message {
	border: none;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	width: 100%;
}

.jspDrag {
	background: #BDBDBD;
}

.jspTrack {
	background: #E8E8E8;
}
